# --- Deployment Mode ---
# docker | local (mặc định)
DEPLOY_MODE=docker
HADOOP_CLUSTER_SIZE=3

# --- Hadoop Configuration ---
# Đường dẫn cài đặt Hadoop thực tế trên hệ thống (dùng cho Local mode)
HADOOP_HOME=C:\hadoop-3.3.0

# Địa chỉ HDFS NameNode (thường là hdfs://namenode:9000 trong Docker hoặc hdfs://localhost:9000 trong Local)
HDFS_HOST=hdfs://namenode:9000

# Đường dẫn đến file thực thi Hive
HIVE_BIN=C:\hive\bin\hive
# Hive Server RPC (dùng cho Docker / Remote)
HIVE_HOST=hive-server
HIVE_PORT=10000

# --- Application Configuration ---
# URL của Flask Backend
FLASK_API_URL=http://flask-api:5005

# Số lượng bệnh muốn ưu tiên hiển thị trên biểu đồ
TOP_N_DISEASES=10

# --- Java Configuration ---
# JAVA_HOME=C:\Program Files\Java\jdk1.8.0_202
